* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #FFF;
  color: #000;
  position: relative;
}

a, a:visited {
  display: block;
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

span {
  display: block;
}

img {
  display: block;
}

p {
  font-weight: 500;
}

.w-100 {
  width: 100% !important;
}

.error {
  color: #ff2f2f;
  text-align: center;
  padding: 2rem 0;
  font-weight: 600;
}

.line {
  width: 40px;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block !important;
  height: 1px;
  border: none;
  background-color: #DBDBDB;
}

.line-full {
  width: 100%;
}

.input {
  display: block;
  width: 100%;
  padding: .900rem 1em;
  font-weight: 600;
  font-size: .9rem;
  outline: none;
  border: 1px solid #DBDBDB;
  background-color: #FAFAFA;
  border-radius: 3px;
  color: #000;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.input:focus {
  border-color: #5444DA;
}

.input-group {
  display: block;
  margin-bottom: .800rem;
}

.input-group label {
  margin-bottom: .5rem;
  display: block;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: .900rem 1.8rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-width: 2px !important;
  border-style: solid !important;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: .900em;
  color: #FFF;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 3px;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.btn-sm {
  font-size: .8rem;
  padding: .9rem 1rem;
}

.btn-primary {
  background-color: #5444DA;
  color: #FFF !important;
  border-color: #5444DA;
}

.btn-primary:hover {
  background-color: #4433d7;
  border-color: #4433d7;
  -webkit-box-shadow: 0 2px 4px rgba(84, 68, 218, 0.5);
          box-shadow: 0 2px 4px rgba(84, 68, 218, 0.5);
}

.btn-outline-primary {
  border-color: #5444DA;
  background-color: transparent;
  color: #5444DA !important;
}

.btn-outline-primary:hover {
  background-color: rgba(84, 68, 218, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(84, 68, 218, 0.5);
          box-shadow: 0 2px 4px rgba(84, 68, 218, 0.5);
}

.btn-danger {
  background-color: #ff2f2f;
  color: #FFF !important;
  border-color: #ff2f2f;
}

.btn-danger:hover {
  background-color: #ff1b1b;
  border-color: #ff1b1b;
  -webkit-box-shadow: 0 2px 4px rgba(255, 47, 47, 0.5);
          box-shadow: 0 2px 4px rgba(255, 47, 47, 0.5);
}

.btn-outline-danger {
  border-color: #ff2f2f;
  background-color: transparent;
  color: #ff2f2f !important;
}

.btn-outline-danger:hover {
  background-color: rgba(255, 47, 47, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(255, 47, 47, 0.5);
          box-shadow: 0 2px 4px rgba(255, 47, 47, 0.5);
}

.btn-white {
  background-color: #FFF;
  color: #5444DA !important;
  border-color: #FFF;
}

.btn-white:hover {
  background-color: whitesmoke;
  border-color: whitesmoke;
  -webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
          box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.btn-outline-white {
  border-color: #FFF;
  background-color: transparent;
  color: #FFF !important;
}

.btn-outline-white:hover {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
          box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.btn-full {
  width: 100%;
}

.link-primary {
  color: #5444DA !important;
  font-weight: 600;
}

.link-primary:hover {
  text-decoration: underline;
}

.title-lg, .title-md, .title-sm {
  margin-bottom: 1rem;
  color: #5444DA;
}

.title-lg {
  font-size: 3rem;
  font-weight: 800;
}

.title-md {
  font-size: 2rem;
  font-weight: 700;
}

.title-sm {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (max-width: 400px) {
  .title-lg {
    font-size: 2.3rem;
  }
  .title-md {
    font-size: 1.5rem;
  }
  .title-sm {
    font-size: 1rem;
  }
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-white {
  color: #FFF !important;
}

.text-gray {
  color: #484848 !important;
}

.card {
  width: 100%;
  display: block;
  border-bottom: 1px solid #DBDBDB;
}

.card .card-image {
  width: 100%;
  overflow-y: hidden;
}

.card .card-image img {
  width: 100%;
}

.card .card-content {
  padding: 1.4rem .2rem .2rem .2rem;
}

.card .card-content .card-title a {
  font-size: 1.1rem;
  font-weight: 700;
  color: #5444DA !important;
  margin-bottom: .2rem;
}

.card .card-content .card-title a:hover {
  text-decoration: underline;
}

.card .card-content .card-price {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.list-group .list-item {
  background-color: #fcfcfc;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: .5rem;
}

@media screen and (max-width: 768px) {
  .link-primary {
    font-size: .9rem;
  }
}

@media screen and (max-width: 400px) {
  .card .card-content .card-title a {
    font-size: .9rem;
  }
  .card .card-content .card-price {
    font-size: .8rem;
  }
}

.navbar {
  width: 100%;
  padding: 1.1rem 0;
  z-index: 999;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition-duration: box-shadow .3s;
          transition-duration: box-shadow .3s;
}

.navbar.sticky {
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
  color: #5444DA !important;
  font-weight: 800;
  font-size: 1.5em;
}

.navbar .navbar-list .navbar-link {
  display: inline-block;
  padding: .500rem .900rem;
  font-weight: 600;
  font-size: 1rem;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  color: #5444DA;
}

.navbar .navbar-list .navbar-link:hover {
  color: #8e84e7;
}

.navbar .ham-menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.navbar .ham-menu span {
  display: block;
  width: 100%;
  border: none;
  height: 3px;
  border-radius: 10px;
  background-color: #5444DA;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.backdrop.show {
  opacity: 1;
  visibility: visible;
}

.hero {
  background-color: #5444DA;
  padding: 9rem 0 6rem 0;
}

.hero p {
  color: rgba(255, 255, 255, 0.8) !important;
}

.products {
  padding: 9rem 0 8rem 0;
}

.popular-products {
  padding: 4rem 0 8rem 0 !important;
}

.footer {
  padding: 2rem 0;
  background-color: #F9F9F9;
  border-top: 1px solid #DBDBDB;
}

.footer p {
  font-weight: 600;
  color: #484848;
}

.product-detail {
  padding: 8rem 0 5rem 0;
  min-height: 100vh;
}

.product-detail .image-product-detail img {
  border: 1px solid #DBDBDB;
  width: 100%;
}

.product-detail .name-product-detail {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.7rem;
  color: #5444DA;
  line-height: 24px;
}

.product-detail .price-product-detail {
  font-size: 1.6rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
  color: #000;
}

.product-detail .description-product-detail {
  color: #484848;
  font-size: .9rem;
  margin-bottom: 1rem;
}

.product-detail .description-product-detail p {
  margin-bottom: .5rem;
  line-height: 25px;
}

.login {
  padding: 3rem 0 2rem 0;
  min-height: 100vh;
}

.login .login-card {
  max-width: 450px;
  border-bottom: 1px solid #DBDBDB;
  padding: 2rem 0;
  margin: 2rem auto;
}

.admin {
  padding: 8rem 0 5rem 0;
  min-height: 100vh;
}

.admin .sidebar-admin {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: #fcfcfc;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 1rem;
}

.admin .sidebar-admin small {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  margin: 1rem 0;
  color: #000;
}

.admin .sidebar-admin .btn {
  margin-bottom: .4rem;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navbar .navbar-list {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 6rem;
    left: 0;
    right: 0;
    background-color: #FFF;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    visibility: hidden;
    padding: 1rem 2rem 2rem 2rem;
    border-bottom: 1px solid rgba(84, 68, 218, 0.1);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .navbar .navbar-list li {
    width: 100%;
  }
  .navbar .navbar-list .navbar-link {
    width: 100% !important;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: .5rem;
  }
  .navbar .navbar-list .navbar-link.btn {
    padding: .9rem 1rem;
  }
  .navbar .navbar-list.show {
    opacity: 1;
    visibility: visible;
  }
  .navbar .ham-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-detail .name-product-detail {
    font-size: 1.2rem;
  }
  .product-detail .price-product-detail {
    font-size: 1.1rem;
  }
  .footer p {
    font-size: .9rem;
  }
}
/*# sourceMappingURL=main.css.map */