*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontFamilySansSerif;
}

body{
    // margin-top: 2rem;
    min-height: 100vh;
    background-color: $backgroundColor;
    color: $textColor;
    position: relative;
}

// RESET

a, a:visited{
    display: block;
    text-decoration: none;
    color: $textColor;
}

li{
    list-style: none;
}

span{
    display: block;
}

img{
    display: block;
}

p{
    font-weight: $fontWeightMedium;
}

// UTILITIES
.w-100{
    width: 100% !important;
}

.error{
    color: $dangerColor;
    text-align: center;
    padding: 2rem 0;
    font-weight: $fontWeightBold;
}

.line{
    width: 40px;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block !important;
    height: 1px;
    border: none;
    background-color: $grayColor3;

    &-full{
        width: 100%;
    }
}
// INPUTS

.input{
    display: block;
    width: 100%;
    padding: .900rem 1em;
    font-weight: $fontWeightBold;
    font-size: .9rem;
    outline: none;
    border: 1px solid $grayColor3;
    background-color: #FAFAFA;
    border-radius: 3px;
    color: $textColor;
    transition-property: border-color;
    transition-duration: .3s;

    &:focus{
        border-color: $primaryColor;
    }
}

.input-group{
    display: block;
    margin-bottom: .800rem;

    label{
        margin-bottom: .5rem;
        display: block;
        font-weight: $fontWeightBold;
    }
}

.btn{
    display: inline-block;
    padding: .900rem 1.8rem;
    text-align: center;
    user-select: none;
    border-width: 2px !important;
    border-style: solid !important;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-weight: $fontWeightBolder;
    font-size: .900em;
    color: $whiteColor;
    outline: none;
    appearance: none;
    border: none;
    border-radius: 3px;
    transition-property: background-color, color, box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.btn-xs{
    font-size: .7rem;
    padding: .5rem .6rem;
}

.btn-primary{
    background-color: $primaryColor;
    color: $whiteColor !important;
    border-color: $primaryColor;

    &:hover{
        background-color: darken($primaryColor, 4);
        border-color: darken($primaryColor, 4);
        box-shadow: 0 2px 4px rgba($primaryColor, .5);
    }
}

.btn-outline-primary{
    border-color: $primaryColor;
    background-color: transparent;
    color: $primaryColor !important;

    &:hover{
        background-color: rgba($primaryColor, .2);
        box-shadow: 0 2px 4px rgba($primaryColor, .5);
    }
}

.btn-danger{
    background-color: $dangerColor;
    color: $whiteColor !important;
    border-color: $dangerColor;

    &:hover{
        background-color: darken($dangerColor, 4);
        border-color: darken($dangerColor, 4);
        box-shadow: 0 2px 4px rgba($dangerColor, .5);
    }
}

.btn-outline-danger{
    border-color: $dangerColor;
    background-color: transparent;
    color: $dangerColor !important;

    &:hover{
        background-color: rgba($dangerColor, .2);
        box-shadow: 0 2px 4px rgba($dangerColor, .5);
    }
}

.btn-white{
    background-color: $whiteColor;
    color: $primaryColor !important;
    border-color: $whiteColor;
    
    &:hover{
        background-color: darken($whiteColor, 4);
        border-color: darken($whiteColor, 4);
        box-shadow: 0 2px 4px rgba($whiteColor, .5);
    }
}

.btn-outline-white{
    border-color: $whiteColor;
    background-color: transparent;
    color: $whiteColor !important;
    
    &:hover{
        background-color: rgba($whiteColor, .2);
        box-shadow: 0 2px 4px rgba($whiteColor, .5);
    }
}

.btn-full{
    width: 100%;
}

// LINKS
.link-primary{
    color: $primaryColor !important;
    font-weight: $fontWeightBold;

    &:hover{
        text-decoration: underline;
    }
}

// HEADINGS

.title-lg, .title-md, .title-sm{
    margin-bottom: 1rem;
    color: $primaryColor;
}

.title-lg{
    font-size: 3rem;
    font-weight: $fontWeightExtraBold;
}

.title-md{
    font-size: 2rem;
    font-weight: $fontWeightBolder;
}

.title-sm{
    font-size: 1.5rem;
    font-weight: $fontWeightBolder;
}

// TEXTS

.text-center{
    text-align: center !important;
}

.text-left{
    text-align: left !important;
}

.text-white{
    color: $whiteColor !important;
}

.text-gray{
    color: $grayColor !important;
}

// CARD

.card{
    width: 100%;
    display: block;
    border-bottom: 1px solid $grayColor3;
    
    .card-image{
        width: 100%;
        overflow-y: hidden;

        img{
            width: 100%;
        }
    }

    .card-content{
        padding: 1.4rem .2rem .2rem .2rem;

        .card-title a{
            font-size: 1.1rem;
            font-weight: $fontWeightBolder;
            color: $primaryColor !important;
            margin-bottom: .2rem;

            &:hover{
                text-decoration: underline;
            }
        }
        
        .card-price{
            color: $blackColor;
            font-size: 1rem;
            font-weight: $fontWeightBolder;
            margin-bottom: 1rem;
        }
    }
}

// LIST
.list-group{
    .list-item {
        background-color: darken($whiteColor, 1);
        border: 1px solid darken($whiteColor, 5);
        border-radius: 4px;
        padding: 1rem;
        margin-bottom: .5rem;
    }
}

// TABLE
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: $textColor;
    border-collapse: collapse;
    vertical-align: top;

    td, th{
        padding: 1rem;
        border-bottom: 1px solid dakren;
    }

    thead{
        border: 1px solid darken($whiteColor, 5);
        border-radius: 4px;
    }

    th{
        background-color: darken($whiteColor, 1);
        padding: 1rem;
        font-weight: $fontWeightBold;
        font-size: .9rem;
    }

    td{
        border-bottom: 1px solid darken($whiteColor, 5);
        font-weight: $fontWeightMedium;
        font-size: .8rem;
    }
}

@media screen and (max-width: $medium){
    .btn{
        font-size: .8rem;
        padding: .7rem 1.2rem;
    }

    .btn-xs{
        font-size: .6rem;
        padding: .4rem .5rem;
    }

    .link-primary{
        font-size: .9rem;
    }
}

@media screen and (max-width: $small){
    .title-lg{
        font-size: 2.3rem;
    }

    .title-md{
        font-size: 1.5rem;
    }

    .title-sm{
        font-size: 1.2rem;
    }

    .card{
        .card-content{
            .card-title a{
                font-size: .9rem;
            }

            .card-price{
                font-size: .8rem;
            }
        }
    }
}