*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontFamilySansSerif;
}

body{
    min-height: 100vh;
    background-color: $backgroundColor;
    color: $textColor;
    position: relative;
}

// RESET

a, a:visited{
    display: block;
    text-decoration: none;
    color: $textColor;
}

li{
    list-style: none;
}

span{
    display: block;
}

img{
    display: block;
}

// UTILITIES
.w-100{
    width: 100% !important;
}

.error{
    color: $dangerColor;
    text-align: center;
    padding: 2rem 0;
    font-weight: $fontWeightBold;
}

.line{
    width: 40px;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block !important;
    height: 1px;
    border: none;
    background-color: $grayColor3;

    &-full{
        width: 100%;
    }
}
// INPUTS

.input{
    display: block;
    width: 100%;
    padding: .900rem 1em;
    font-weight: $fontWeightBold;
    font-size: 1rem;
    outline: none;
    border: 1px solid $grayColor3;
    background-color: #FAFAFA;
    border-radius: 3px;
}

.input-group{
    display: block;
    margin-bottom: .800rem;

    label{
        margin-bottom: .5rem;
        display: block;
        font-weight: $fontWeightMedium;
    }
}

.btn{
    display: inline-block;
    padding: .900rem 1.8rem;
    text-align: center;
    user-select: none;
    border-width: 2px !important;
    border-style: solid !important;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-weight: $fontWeightBold;
    font-size: .900em;
    color: $whiteColor;
    outline: none;
    appearance: none;
    border: none;
    border-radius: 3px;
}

.btn-black{
    background-color: $blackColor;
    color: $whiteColor !important;
    border-color: $blackColor;
    transition: background-color .3s;

    &:hover{
        background-color: darken($blackColor, 4);
    }
}

.btn-outline-black{
    border-color: $blackColor;
    background-color: transparent;
    color: $blackColor !important;
    transition: background-color .3s;

    &:hover{
        background-color: rgba($blackColor, .05);
    }
}

.btn-full{
    width: 100%;
}

// LINKS
.link-black{
    color: $blackColor;

    &:hover{
        text-decoration: underline;
    }
}

// HEADINGS

.title, .title-md{
    font-family: $fontFamilySerif;
    margin-bottom: 1rem;
    font-weight: $fontWeightBolder;
}

.title{
    font-size: 3rem;
}

.title-md{
    font-size: 2rem;
}

@media (max-width: $small){
    .title{
        font-size: 2.3rem;
    }

    .title-md{
        font-size: 1.5rem;
    }
}


// TEXTS

.text-center{
    text-align: center !important;
}

.text-gray{
    color: $grayColor;
}

// CARD

.card{
    width: 100%;
    display: block;
    border-bottom: 1px solid $grayColor3;
    
    .card-image{
        width: 100%;
        overflow-y: hidden;

        img{
            width: 100%;
        }
    }

    .card-content{
        padding: 1.4rem .7rem .2rem .7rem;

        .card-title{
            font-size: 1.1rem;
            color: $blackColor;
            font-weight: $fontWeightBolder;
            margin-bottom: .6rem;
            font-family: $fontFamilySansSerif;
        }
        
        .card-price{
            color: $grayColor;
            font-size: 1rem;
            font-weight: $fontWeightBold;
            margin-bottom: 1rem;
        }
    }
}