@import 'variables';
@import 'global';

.navbar{
    width: 100%;
    padding: 1.1rem 0;
    background-color: $grayColor2;
    border-bottom: 1px solid $grayColor3;

    .logo{
        font-family: $fontFamilySerif;
        color: $blackColor !important;
        font-weight: $fontWeightBold;
        font-size: 1.5em;
    }

    .navbar-link{
        display: inline-block;
        padding: .500rem .900rem;
        font-weight: $fontWeightMedium;
        color: lighten($grayColor, 20);
        font-size: 1rem;
        transition: background-color .3s, color .3s;

        &.btn{
            margin-right: .3rem;
        }

        &:hover{
            color: $blackColor;
        }
    }

    .ham-menu{
        display: none;

        img{
            cursor: pointer;
        }
    }
}

.hero{
    max-width: 700px;
    margin: auto;
    padding: 5rem 0 6rem 0;
}

.popular-products{
    padding: 4rem 0 5rem 0;
}

.search-group{
    margin-bottom: 2rem;
    display: flex;
    gap: .5rem;
}

.footer{
    padding: 2rem 0;
    background-color: $grayColor2;
    border-top: 1px solid $grayColor3;

    p{
        font-weight: $fontWeightMedium;
        color: $grayColor;
    }
}

.product-detail{
    padding: 2rem 0 9rem 0;
    min-height: 100vh;

    .image-product-detail {
        img{
            border: 1px solid $grayColor3;
            width: 100%;
        }
    }

    .name-product-detail{
        margin-bottom: 1rem;
        font-weight: $fontWeightBold;
        font-size: 1.5rem;
        color: $grayColor;
        font-family: $fontFamilySansSerif;
        text-transform: uppercase;
        line-height: 24px;
    }

    .price-product-detail{
        font-size: 2rem;
        font-weight: $fontWeightBolder;
        margin-bottom: 1.2rem;
        color: $blackColor
    }

    .description-product-detail{
        color: $grayColor;
        font-size: .9rem;
        margin-bottom: 1rem;

        p{
            margin-bottom: .5rem;
            line-height: 25px;
        }
    }

    .button-group{
        margin-bottom: 2rem;

        .btn{
            font-size: .9rem;
        }
    }
}

.login{
    padding: 1rem 0 2rem 0;
    min-height: 100vh;
}

.login .login-card{
    max-width: 450px;
    border-bottom: 1px solid $grayColor3;
    border-radius: 4px;
    padding: 2rem 2rem;
    margin: 2rem auto;
}

@media screen and (max-width: $medium){
    .navbar{
        .navbar-list{
            width: 100%;
            position: absolute;
            top: 4rem;
            left: 0;
            background-color: #FFF;
            flex-direction: column;
            justify-content: center;
            visibility: hidden;
            border-bottom: 2px solid $grayColor3;
            padding: 1rem 2rem 2rem 2rem;

            .navbar-link{
                width: 100% !important;
                padding: 1rem;
                text-align: center;
                margin-bottom: .5rem;
                font-size: .9rem;

                &.btn{
                    padding: .9rem 1rem;
                }
            }
        }

        .navbar-list.active{
            visibility: visible;
        }

        .ham-menu{
            display: block;
        }
    }
}