@import 'variables';
@import 'global';

.navbar{
    width: 100%;
    padding: 1.1rem 0;
    background-color: $grayColor2;
    border-bottom: 1px solid $grayColor3;

    .logo{
        font-family: $fontFamilySerif;
        color: $blackColor !important;
        font-weight: $fontWeightBold;
        font-size: 1.5em;
    }

    .navbar-link{
        padding: .500rem .900rem;
        font-weight: $fontWeightMedium;
        color: lighten($grayColor, 20);
        font-size: 1rem;
        transition: color .3s;
        
        &:hover{
            color: $blackColor;
        }
    }
}

.hero{
    max-width: 700px;
    margin: auto;
    padding: 5rem 0 6rem 0;
}

.popular-products{
    padding: 4rem 0 10rem 0;
}

.grid-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;
}



.footer{
    padding: 2rem 0;
    background-color: $grayColor2;
    border-top: 1px solid $grayColor3;

    p{
        font-weight: $fontWeightMedium;
        color: $grayColor;
    }
}

@media screen and (max-width: $medium){
    .grid-product{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: $small){
    .grid-product{
        grid-template-columns: 1fr 1fr;
    }
}