@import 'variables';
@import 'global';

.navbar{
    width: 100%;
    padding: 1.1rem 0;
    background-color: $grayColor2;
    border-bottom: 1px solid $grayColor3;

    .logo{
        font-family: $fontFamilySerif;
        color: $blackColor !important;
        font-weight: $fontWeightBold;
        font-size: 1.5em;
    }

    .navbar-link{
        padding: .500rem .900rem;
        font-weight: $fontWeightMedium;
        color: lighten($grayColor, 20);
        font-size: 1rem;
        transition: color .3s;
        
        &:hover{
            color: $blackColor;
        }
    }

    .ham-menu{
        display: none;

        img{
            cursor: pointer;
        }
    }
}

.hero{
    max-width: 700px;
    margin: auto;
    padding: 5rem 0 6rem 0;
}

.popular-products{
    padding: 4rem 0 5rem 0;
}

.grid-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;
}

.search-group{
    margin-bottom: 2rem;
    display: flex;
    gap: .5rem;
}

.footer{
    padding: 2rem 0;
    background-color: $grayColor2;
    border-top: 1px solid $grayColor3;

    p{
        font-weight: $fontWeightMedium;
        color: $grayColor;
    }
}

@media screen and (max-width: $medium){
    .grid-product{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: $small){
    .navbar{
        .navbar-list{
            width: 100%;
            position: absolute;
            top: 4rem;
            left: 0;
            background-color: #FFF;
            flex-direction: column;
            justify-content: center;
            visibility: hidden;
            border-bottom: 2px solid $grayColor3;
            padding: 1rem 0 2rem 0;

            .navbar-link{
                padding: 1rem;
                text-align: center;
            }
        }

        .navbar-list.active{
            visibility: visible;
        }

        .ham-menu{
            display: block;
        }
    }

    .search-group{
        display: block;

        .input{
            margin-bottom: .5rem;
        }
    
        .btn{
            width: 100%;
        }
    }

    .grid-product{
        grid-template-columns: 1fr 1fr;
    }
}